@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Regular.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald-Regular.ttf");
    font-display: swap;
  }
  html {
    overflow-x: hidden;
  }
  * {
    font-family: "Montserrat";
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .nav-link {
    color: #fff !important;
  }
  .nav-link:hover {
    color: #fff;
  }
  a:hover {
    color: #000;
    text-decoration: underline;
  }
  #page {
    padding: 0;
  }
  .page-content {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
  }
  .header {
    min-height: 85vh;
    background-image: url("assets/images/header3.png");
    background-size: cover;
    background-position: center;
  }
  .logo {
    max-width: 5rem;
  }
  .logo-title {
    font-family: "Oswald";
    letter-spacing: 9.6px;
    font-weight: 700;
    color: #fff;
    margin-left: 1.5rem;
  }
  .nav-item {
    margin: 0 1rem 0 1rem;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background: #00DC7F;
    width: 1.5rem;
    height: 0.25rem;
  }
  .hamburger::before {
    transform: translateY(-0.5rem);
    transition: all 0.5s;
  }
  .hamburger::after {
    transform: translateY(-0.1rem);
    transition: all 0.5s;
  }
  .hamburger {
    background: none;
    transition: all 0.5s;
    z-index: 2;
    position: relative;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .hamburger::before {
    transform: rotate(45deg) translateX(0rem) translateY(-0rem);
  }
  input[type="checkbox"]:checked ~ .hamburger::after {
    transform: rotate(-45deg) translateX(0.15rem) translateY(-0.2rem);
  }


  /* Media Queries */
  @media screen and (min-width: 576px) {
    .menu-toggle {
        opacity: 0;
        display: none;
    }
  }